.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fadeEnter {
  opacity: 0;
}

.fadeEnterActive {
  opacity: 1;
  transition: opacity 300ms;
}

.fadeExit {
  opacity: 1;
}

.fadeExitActive {
  opacity: 0;
  transition: opacity 300ms;
}

.content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  align-items: center;
}

.imageContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.navbar {
  display: flex;
  align-items: stretch;
  background-color: #f1efef;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbarLink {
  color: #0000008a;
  text-decoration: none;
  margin-left: 30px;
  margin-top: 10px;
  transition: box-shadow 0.3s ease;
  padding: 0;
}

.navbarLink:hover {
  box-shadow: 3px 3px 0px rgba(19, 46, 19, 0.3);
}

.footer {
  background-color: #f1efef;
  padding: 20px;
  margin-top: 20px;
  right: 0;
  bottom: 0;
  position: fixed;
  margin-bottom: 20px;
  width: 180px;
  border-radius: 10px 0 0 10px;
}

.footerContent {
  display: flex;
  justify-content: left;
  align-items: stretch;
}

.footerText {
  margin-right: 10px;
}

.footerLink {
  color: #132e1371;
  text-decoration: none;
  margin-left: 20px;
  transition: box-shadow 0.3s ease;
}

.footerLink:hover {
  box-shadow: 0 0 5px rgba(19, 46, 19, 0.3);
}

.footerIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
  margin-top: 2px;
}

.headerIcon {
  width: 100%;
  height: 25px;
  margin-right: 5px;
}
