.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}
.fadeEnter {
  opacity: 0;
}

.fadeEnterActive {
  opacity: 1;
  transition: opacity 300ms;
}

.fadeExit {
  opacity: 1;
}

.fadeExitActive {
  opacity: 0;
  transition: opacity 300ms;
}

.content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  align-items: center;

}

.imageContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: #f1efef;
  padding: 20px;
  margin-top: 20px;
  left: 50%;
  bottom: 0;
  position: fixed;
  margin-bottom: 50px;
  width: 22%;

}

.footerContent {
  display: flex;
  justify-content: right;
  align-items: stretch;
}

.footerText {
  margin-right: 10px;
}

.footerLink {
  color: #132e1371;
  text-decoration: none;
  margin-left: 20px;

}
.footerIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
  margin-top: 2px;

}